.cta {
    background-image: url('../images/consult.jpeg');
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.mask-cta {
    height: 50vh;
    background-image: linear-gradient(90deg, rgba(24, 51, 87, 0.8) 40%, rgba(255, 255, 255, 0.2));
}