:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #1AB099;
    text-decoration: none;

}

a:hover {
    color: #1AB099;
}

li {
    list-style: none;
}

body {
    font-family: "Nunito Sans", "Helvetica Neue", sans;
}

h1 {
    font-family: Montserrat, "Helvetica Neue", sans;
    font-size: 4.5rem;
}

h3 {
    font-family: "Montserrat", "Helvetica Neue", sans;
}

.h3-b {
    font-weight: 600;
}

.hero-image {
    background-image: url('/images/palace.jpeg');
    height: 80vh;
    background-position: center;
    background-size: cover;
}

.hero-image .row {
    height: 80vh;
}

.mask-hero {
    background-color: rgba(24, 51, 87, 0.8);
    height: 80vh;
}

.hero-banner {
    background-image: url('/images/palace.jpeg');
    height: 23vh;
    background-position: center;
    background-size: cover;
}

.hero-banner .row {
    height: 23vh;
}

.mask-banner {
    background-color: rgba(24, 51, 87, 0.8);
    height: 23vh;
}

.areas-titulo h2 {
    font-size: 2.3rem;
    font-family: Montserrat, "Helvetica Neue", sans;
    color: #878787;
    line-height: 3rem;
}

.areas-titulo h2 .somos {
    color: #1AB099;
    font-size: 3.3rem;
}

.areas-titulo h2 .somos:after {
    background-color: #1AB099;
    content: "";
    display: block;
    height: 1px;
    width: 36px;
}

.areas-titulo p {
    font-size: 1.6rem;
    color: #878787;
}

.container {
    max-width: 1140px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.4rem;
    color: #183357;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #1AB099;
}

.lead {
    font-size: 1.8rem;
}

.btn-primary,
.btn-primary:focus {
    letter-spacing: 0.2pt;
    font-size: 1.6rem;
    background-color: #1AB099;
    color: #183357;
    border-color: transparent;
    /* padding: 1rem 2rem; */
    border-radius: 0;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus-visible,
.btn-primary:active:focus {
    background-color: #000;
    color: #FFF;
    border-color: transparent;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #000;
    color: #fff;
    box-shadow: #1ab099 5px 5px 0px;
    transition: 0.5s;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #1ab099;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(26 176 153 / 25%);
}

.navbar-nav .nav-item .nav-link.active {
    color: #1AB099;
}

.p-all {
    padding-top: 100px;
    padding-bottom: 100px;
}

.g-all {
    --bs-gutter-x: 6rem;
}

.sh-img {
    box-shadow: #1ab099 10px 10px 0px;
    transition: transform .5s;
    transition: width 2s;
}

.color {
    color: #1AB099;
}

.dsk {
    border-right: dashed 1px #c2c2c2;
}

.abg {
    width: 100%;
    max-width: 60px;
}

.area-unica {
    padding: 0px 30px;
    transition: transform 0.5s;

}

.area-unica:hover {
    transform: scale(0.9);
}

.foto img {
    width: 100%;
    max-width: 200px;
}

.foto img {
    transition: transform 0.5s;
}

.foto img:hover {
    transform: scale(0.9);
}

.social {
    gap: 5px;
}

.social img {
    max-width: 30px;
    opacity: 0.5;
}

.social img:hover {
    opacity: 0.9;
}

.cta {
    background-image: url('/images/consult.jpeg');
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.mask-cta {
    height: 50vh;
    background-image: linear-gradient(90deg, rgba(24, 51, 87, 0.8) 40%, rgba(255, 255, 255, 0.2));
}

.social-f img {
    max-width: 30px;
    opacity: 0.3;
}

.social-f p {
    font-size: 1.3rem;
    color: #878787;
}

.foo {
    height: 180px;
}

.contacto li {
    font-size: 1.3rem;
    color: #878787;
}

.contacto li a {
    font-size: 1.5rem;
}

footer {
    background-color: #3c3c3b;
    font-size: 1.3rem;
}

.flex-form {
    margin: 120px 100px;
}

.form-control {
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

.iconos__datos p {
    font-size: 1.6rem;
    color: #878787;
    line-height: 2rem;
}

.iconos__datos h3 {
    font-size: 1.8rem;
    color: #000;
    font-weight: 600;
}

.iconos__datos span {
    color: #1ab099;
}

.iconos__datos h3:after {
    background-color: #1AB099;
    margin-top: 3px;
    margin-bottom: 5px;
    content: "";
    display: block;
    height: 1px;
    width: 36px;
}

/* Animatio Image*/

.animate-image {
    animation: fadeIn 5s;
    transition: transform 0.5s;
}

.animate-image:hover {
    transform: scale(1.1);
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Animation Text*/
.animation-text {
    animation: fadeIn linear 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/*----Media Queries----*/

@media screen and (max-width:768px) {
    footer {
        text-align: center;
    }

    h1 {
        font-size: 330%;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .area-unica {
        margin-top: 35px;
        border: none;
    }

    .btm {
        margin-top: 35px;
    }

    .foto img {
        width: 150px;
    }

    .g-5,
    .gx-5 {
        --bs-gutter-x: 0;
    }

    .display-3 {
        font-size: 3rem;
    }

    .navbar-light .navbar-toggler {
        color: rgb(26, 176, 153, 0.3);
        border: 1px solid #1ab099;
    }

    .flex-form {
        margin: 60px 0px;
    }

}